<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Hotel La Mesa - Inicio</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" />
        <!-- https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans -->
        <link href="css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
        <link href="slick/slick.css" rel="stylesheet" /> <!-- https://kenwheeler.github.io/slick/ -->
        <link href="slick/slick-theme.css" rel="stylesheet" />
        <link href="css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com -->
        <link href="css/templatemo-new-vision.css" rel="stylesheet" />
        <!--
    
    New Vision Template
    
    https://templatemo.com/tm-542-new-vision
    
        -->
    </head>

    <body>
        <!-- Page Header -->
        <div class="container-fluid">
            <div class="tm-site-header">
                <div class="row">
                    <div class="col-12 tm-site-header-col">
                        <div class="tm-site-header-left">
                            <i class="far fa-2x fa-eye tm-site-icon"></i>
                            <h1 class="tm-site-name">Hotel La Mesa</h1>
                        </div>
                        <div class="tm-site-header-right tm-menu-container-outer">

                            <!--Navbar-->
                            <nav class="navbar navbar-expand-lg">

                                <!-- Collapse button -->
                                <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                                        aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                            class="fas fa-bars fa-1x"></i></span></button>

                                <!-- Collapsible content -->
                                <div class="collapse navbar-collapse tm-nav" id="navbarSupportedContent1">

                                    <!-- Links -->
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link tm-nav-link" href="#">Inicio<span
                                                    class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Category">Categorías</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Room">Habitaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Client">Clientes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Message">Mensajes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Reservation">Reservas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link tm-nav-link" href="Reports">Reportes</a>
                                        </li>
                                    </ul>
                                    <!-- Links -->

                                </div>
                                <!-- Collapsible content -->

                            </nav>
                            <!--/.Navbar-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 unauthenticated">
                    Por favor, <a href="/oauth2/authorization/github">Inicie Sesión en GitHub</a> para acceder a los módulos.
                </div>
                <div class="col-12 authenticated" style="display:none">
                    Bienvenido, <span id="user"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tm-main-bg"></div>
                </div>
            </div>

            <!-- Main -->
            <main>
                <!-- Welcome section -->
                <section class="tm-welcome">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-section-header tm-header-floating">Bienvenido al Hotel La Mesa</h2>
                        </div>
                    </div>

                    <div class="row tm-welcome-row">
                        <article class="col-lg-6 tm-media">
                            <img src="img/img-3x2-01.jpg" alt="Welcome image" class="img-fluid tm-media-img" />
                            <div class="tm-media-body">
                                <a href="#" class="tm-article-link">
                                    <h3 class="tm-article-title text-uppercase">Best rooms</h3>
                                </a>
                                <p>Our rooms are decorated with sustainable materials and lovely designs

                                </p>
                            </div>
                        </article>
                        <article class="col-lg-6 tm-media">
                            <img src="img/img-3x2-02.jpg" alt="Welcome image" class="img-fluid tm-media-img" />
                            <div class="tm-media-body">
                                <a href="#" class="tm-article-link">
                                    <h3 class="tm-article-title text-uppercase">Trekking adventures</h3>
                                </a>
                                <p>Enjoy our green adventures, you will remember these landscapes for ever.</p>
                            </div>
                        </article>
                        <article class="col-lg-6 tm-media">
                            <img src="img/img-3x2-03.jpg" alt="Welcome image" class="img-fluid tm-media-img" />
                            <div class="tm-media-body">
                                <a href="#" class="tm-article-link">
                                    <h3 class="tm-article-title text-uppercase">Rafting Experiences</h3>
                                </a>
                                <p>Do you love rivers? then, this is the place your you <span class="tm-hover-color">La Mesa
                                        Farm hotel</span></p>
                            </div>
                        </article>
                        <article class="col-lg-6 tm-media">
                            <img src="img/img-3x2-04.jpg" alt="Welcome image" class="img-fluid tm-media-img" />
                            <div class="tm-media-body">
                                <a href="#" class="tm-article-link">
                                    <h3 class="tm-article-title text-uppercase">Nights with stars</h3>
                                </a>
                                <p>Come to our incredible star biking nights, little, little, little, star... </p>
                            </div>
                        </article>
                    </div>

                    <div class="row tm-welcome-row-2">
                        <div class="col-lg-4 tm-dotted-box-container">
                            <article class="tm-dotted-box">
                                <i class="fas fa-3x fa-binoculars tm-article-icon"></i>
                                <h3 class="tm-article-title">Bird whatching</h3>
                                <p class="tm-article-text">You can enjoy Colombian bird diversity</p>
                                <a class="tm-btn tm-btn-rounded tm-article-link" href="#">More Details</a>
                            </article>
                        </div>
                        <div class="col-lg-4 tm-dotted-box-container">
                            <article class="tm-dotted-box">
                                <i class="fas fa-3x fa-microscope tm-article-icon"></i>
                                <h3 class="tm-article-title">La Mesa Farm Hotel</h3>
                                <p class="tm-article-text">
                                <Hotel La Mesa</a> Located in Puerto Varas, south of Chile, it is a unique place
                                    sourrounded by mountains, excelent for recharge your energy levels
                                    </p>
                            </article>
                        </div>
                        <div class="col-lg-4 tm-dotted-box-container">
                            <article class="tm-dotted-box">
                                <i class="fas fa-3x fa-glasses tm-article-icon"></i>
                                <h3 class="tm-article-title">Enjoy by your own or with your loved ones</h3>
                                <p class="tm-article-text">Special place to be by yourlsef, enjoy reading a book, going for
                                    a walk, and watching stars</p>
                                <a class="tm-btn tm-article-link" href="#">Read More...</a>
                            </article>
                        </div>
                    </div>
                </section>

                <!-- Featured -->
                <section class="tm-featured">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-section-header tm-section-header-small">We are pet & environmental friendly</h2>
                        </div>
                    </div>

                    <!-- Carousel -->
                    <div class="grid tm-carousel">
                        <figure class="effect-honey">
                            <img src="img/gallery-item-01.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Best</span> Pet Friendly</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-02.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Top</span> Birds Whatching</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-03.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Best</span> Loom Weaving</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-04.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Great</span> Trekking</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-05.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Best</span> Wild Animals</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-06.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Max</span> Flowers</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-07.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Best</span> nature</i></h4>
                            </figcaption>
                        </figure>
                        <figure class="effect-honey">
                            <img src="img/gallery-item-08.jpg" alt="Featured Item">
                            <figcaption>
                                <h4><i><span>Best</span> healthy food</i></h4>
                            </figcaption>
                        </figure>
                    </div>
                </section>
                <footer>
                    Copyright &copy;Hotel La Mesa - Design: <a href="https://templatemo.com">TemplateMo</a><br />
                    MisiónTIC 2022: Equipo 2 - Grupo 5<br />
                    Patricia Rojas<br />
                    Luis Gaviria<br />
                    Fabián Gómez<br />
                    Miguel Cantor L.<br />
                </footer>

            </main>
        </div>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="slick/slick.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/templatemo-script.js"></script>
        <script src="js/misFunciones.js"></script>

        <script>validarUsuario();</script>
    </body>

</html>